* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3 {
  margin-bottom: 20px;
}

.container {
  background-color: hsl(0, 0%, 0%);
  height: 530px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30px;
}

.top {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.time {
  flex: 1;
  margin-left: 15px;
  margin-top: -7px;
  font-size: 15px;
}

.top_right {
  display: flex;
  margin-right: 15px;
  gap: 10px;
  margin-top: -10px;
}

.fa-signal {
  font-size: 8px;
  margin-right: -6px;
}

.fa-battery-full {
  font-size: 15px;
  margin-top: 3px;
}

.lte {
  font-size: 12px;
  margin-top: 4px;
  margin-right: -6px;
}

.buttons_container {
  display: flex;
  /* background-color: green; */
  margin: auto;
  margin-right: -3px;
  position: relative;
  top: -10px;
}

.display_screen {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -5px;
  right: 4px;

  /* background-color: orange; */

  margin-bottom: -10px;
  font-size: 56px;
  margin-right: 6px;
  /* color: green; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.message {
  visibility: hidden;
  font-size: 1.4rem;
  /* background-color: rgb(29, 31, 29); */
  position: relative;
  top: 30px;
  margin: auto;
  color: rgb(212, 204, 204);
}

.message2 {
  visibility: hidden;
  font-size: 1.4rem;
  /* background-color: rgb(29, 31, 29); */
  position: relative;
  top: -12px;
  margin: auto;
  color: rgb(212, 204, 204);
}
.btn,
.seven,
.four,
.one,
.zero,
.ac,
.eight,
.five,
.two,
.nine,
.six,
.three,
.decimal,
.plus_minus,
.percentage,
.divide,
.multiply,
.addition,
.subtract,
.equal {
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 40%;
  text-align: center;
  margin-right: 8px;
  margin-left: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px gray;
}

.one:active,
.two:active,
.three:active,
.four:active,
.five:active,
.six:active,
.seven:active,
.eight:active,
.nine:active,
.decimal:active,
.zero:active {
  transform: scale(0.97);
}

.multiply,
.divide,
.addition,
.subtract,
.equal,
.percentage {
  width: 61px;
  cursor: pointer;
  box-shadow: none;
}

.zero {
  position: absolute;
  width: 134px;
  border-radius: 100px;
  margin-top: 0px;
}

.fas.fa-plus,
.fas.fa-minus,
.fas.fa-xmark,
.fas.fa-divide,
.fas.fa-equals,
.fas.fa-percent {
  font-size: 15px;
}

.eight,
.five,
.two,
.seven,
.four,
.one,
.nine,
.six,
.three,
.ac,
.btn.decimal {
  width: 61px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
}

.divide,
.multiply,
.subtract,
.addition,
.equal {
  background-color: #ee9406;
}

.ac,
.plus_minus,
.percentage {
  background-color: #aeaeae;
  color: black;
  font-weight: 600;

  box-shadow: 1px 1px 2px 1px;
}

@media only screen and (max-width: 375px) {
 body {
  min-height: 100vh;
 }
 h3 {
  width: 290px;
 }
}


/* .line {
  width: 170px;
  height: 3px;
  background-color: green;
  margin: auto;
} */
